.box {
    margin: auto auto;
    width: 100px;
    background-color: bisque;
    aspect-ratio: 1/1;
    animation-direction: alternate-reverse;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: width 2s, height 4s, transform 2s, ease-in 2s;

    /* transition-delay: 2s; */
}

@keyframes animation {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

.box:hover {
    width: 200px;

}