* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 40%;


    min-height: 250px;
    margin-top: 150px;
    margin-left: 350px;
    border-style: outset;
}

section h3 {
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.input-div input {
    width: 90%;
    min-height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.mid-class input {
    min-height: 20px;
    margin-top: 10px;

    width: 12%;
    float: left;
}

.mid-class a {
    width: 40%;
    min-height: 25px;
    font-size: 15px;
    float: right;
    margin-top: 15px;
    margin-left: 40px;
    padding-left: 80px;
    text-decoration: none;
}



.button-div input {
    width: 90%;
    min-height: 30px;
    margin-top: 35px;
    margin-left: 20px;
    background-color: lightskyblue;
}