* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.headerbox {
    width: 100%;
    min-height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    background-color: #FFF7F1;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}

.headerbox .headerbox1 {
    font-size: large;
    width: 70%;

}

.headerbox .headerbox2 {
    font-size: large;
    width: 20%;
    justify-content: space-between;
}

.headerbox2 i {

    padding-left: 20px;
    transform: translateY(0px);
    transition: 1s;
}

.headerbox2 i:hover {

    transform: translateY(-10px);
}

.header {
    margin-top: 10px;
    padding-left: 20px;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #FFF7F1;
    border: 2px solid black;
    border-radius: 10px;

    align-items: center;
    justify-content: center;

}

.header .logo {
    width: 45%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;

}

.header .menu {
    width: 50%;

}

.header .menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;


}

.header .menu ul li a {
    margin-left: 25px;
    text-decoration: none;
    padding: 7px;
    transform: translateY(0);
    transition: 1s;
    display: inline-block;
}



.header .menu ul li a:hover {

    /* padding: 5px; */
    background-color: #FFE4C9;
    border-radius: 10px;
    transform: translateY(-10px);

}

.slider {
    width: 100%;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

.slider img {
    width: 100%;
    height: 100%;
}


.box {
    margin-top: 10px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.box .b1 {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    /* border: 1px solid #000; */
}

.b1 .text-heading {
    width: 100%;
    min-height: 40px;
    /* background-color: #436850; */
}

.text-heading h3 {

    background-color: #436850;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.img-div img {
    width: 100%;
    height: 300px;
}

.footer {
    background-color: #24262B;
    margin-top: 120px;
    padding: 50px 0;


}

.row1 {
    display: flex;
}

.footer-col {
    width: 25%;
    padding: 0 15px;

}

.footer-col h4 {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.1em;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    height: 2px;
    box-sizing: border-box;
    width: 100px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 1em;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    display: block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer-col .social-links a:hover {

    color: #24262B;
    background-color: #fff;
    /* text-align: center; */
}



@media only screen and (max-width:768px) {
    .headerbox {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;

    }

    body {
        overflow-x: hidden;
    }

    .header {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;

    }

    .header .menu ul {

        display: block;


    }

    .header .menu ul li {
        text-align: center;
    }

    .box {
        display: flex;
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }

}